@function icon($character){
  @return unquote('\"') + unquote(str-insert($character,'\\', 1)) + unquote('\"');
}

@font-face {
  font-family: "icons";
  src: url("../../assets/fonts/icons.eot?f7f1810f751ea36c8b172db066cb2542?#iefix") format("embedded-opentype"),
url("../../assets/fonts/icons.woff2?f7f1810f751ea36c8b172db066cb2542") format("woff2"),
url("../../assets/fonts/icons.woff?f7f1810f751ea36c8b172db066cb2542") format("woff"),
url("../../assets/fonts/icons.ttf?f7f1810f751ea36c8b172db066cb2542") format("truetype"),
url("../../assets/fonts/icons.svg?f7f1810f751ea36c8b172db066cb2542#icons") format("svg");
}

@mixin icon {
  display: inline-block;
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span[class^="icon"] {
  display: inline-block;
}

span[class^="icon-"]::before, span[class*=" icon-"]::before {
  display: inline-block;
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
  content: icon(f101);
}
.icon-lock::before {
  content: icon(f102);
}
.icon-new-invoice::before {
  content: icon(f103);
}
.icon-search::before {
  content: icon(f104);
}

$icon-close: icon(f101);
$icon-lock: icon(f102);
$icon-new-invoice: icon(f103);
$icon-search: icon(f104);
