.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $blue-500;

    span {
      text-decoration: underline;
    }

    .link__underline {
      text-decoration: none;
    }
  }

  &::after {
    font-weight: 400;
    content: " →"
  }
}

.link--category {
  margin-bottom: 2rem;
}

.link--postcard {
  position: absolute;
  bottom: 0;
  font-size: .9375rem;
}

.link__underline {
  text-decoration: underline;
}
