.search-box {
  position: relative;
  padding-right: 2.75rem;
  border-radius: $border-radius !important;
}

.search-box-button {
  position: absolute;
  z-index: 9;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: $blue-400;
  font-size: 1.125rem;
}
