.section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  @include media-breakpoint-down(sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.section--article-jumbotron {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: $blue-100;
    width: 200vw;
    left: -50vw;
    right: -50vw;
    min-height: 30.5rem;
  }
}

.section--bg-blue {
  background-color: $blue-100;

  .h2 {
    margin-bottom: 2rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1.5rem;
    }
  }
}
